/* purgecss start ignore */
@tailwind base;
/* purgecss end ignore */
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply bg-gray-75;
    scroll-behavior: smooth;
  }

  ::-moz-selection {
    @apply text-black bg-yellow-200;
  }

  ::selection {
    @apply text-black bg-yellow-200;
  }

  h1,
  .h1 {
    @apply text-3xl font-bold sm:text-4xl;
  }

  h2,
  .h2 {
    @apply text-2xl font-semibold sm:text-3xl;
  }

  h3,
  .h3 {
    @apply text-xl font-semibold sm:text-2xl;
  }
}

@layer components {
  .site-header {
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
    @apply sticky top-0 z-10 w-full px-4 bg-white shadow-sm bg-opacity-80;
    @apply md:px-8;
  }

  .btn {
    @apply inline-block px-6 py-3 text-sm font-semibold border border-transparent rounded-md;
  }

  .btn--primary {
    @apply text-white bg-blue-600 shadow-sm active:bg-blue-600 hover:bg-blue-500 hover:shadow active:shadow-none;
  }

  .btn--outline {
    @apply bg-white border border-gray-200 shadow-sm hover:border-gray-300 hover:shadow active:shadow-none;
  }

  .btn--lg {
    @apply md:text-base;
  }

  .btn--disabled {
    @apply text-gray-500 cursor-not-allowed;
  }
}

@layer utilities {
  .text-gradient {
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .smooth-scroll {
    scroll-behavior: smooth;
  }
}
