/* purgecss start ignore */
@tailwind base;
/* purgecss end ignore */
@tailwind components;
@tailwind utilities;

#__next {
  @apply flex flex-col min-h-screen;
}

@layer base {
  html {
    @apply bg-gray-75;
    @apply dark:bg-gray-1000 dark:text-gray-300;
  }

  ::-moz-selection {
    @apply text-black bg-yellow-200;
  }

  ::selection {
    @apply text-black bg-yellow-200;
  }

  h1,
  .h1 {
    @apply text-3xl font-extrabold sm:text-4xl;
    @apply dark:text-white;
  }

  h2,
  .h2 {
    @apply text-2xl font-bold sm:text-3xl;
    @apply dark:text-white;
  }

  h3,
  .h3 {
    @apply text-xl font-bold sm:text-2xl;
    @apply dark:text-white;
  }
}

@layer components {
  .site-header {
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
    @apply sticky top-0 z-10 w-full px-6 bg-white shadow-sm dark:bg-gray-900 bg-opacity-80;
    @apply md:px-8;
  }

  .btn {
    @apply inline-block px-8 py-3 text-sm font-semibold border border-transparent rounded-md;
  }

  .btn--primary {
    @apply text-white bg-blue-600 border-0 border-t border-blue-500 shadow-sm active:bg-blue-600 hover:bg-blue-500 hover:shadow active:shadow-none;
  }

  .copy-email-tooltip {
    @apply absolute z-10 py-2 text-sm transform -translate-y-1/2 bg-white rounded shadow-md dark:text-white dark:bg-gray-800 w-28 top-1/2 right-1/2;
  }

  .copy-email-tooltip:after {
    @apply absolute w-0 h-0 transform -translate-y-1/2 border-white dark:border-gray-800 left-full top-1/2;
    content: '';
    border-top: 5px solid transparent;
    border-left-width: 6px;
    border-bottom: 5px solid transparent;
  }
}

@layer utilities {
  .text-gradient {
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
